@{@model JobFrontEnd.Models.ListAllJobViewModel

ViewBag.Title = "Job Page";
}

<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item1-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>lorem ipsum dolor sit amet!</h6>
                    <h4>Quam temporibus accusam <br> hic ducimus quia</h4>
                    <p>Magni deserunt dolorem consectetur adipisicing elit. Corporis molestiae optio, laudantium odio quod rerum maiores, omnis unde quae illo.</p>
                    <a href="jobs.html" class="filled-button">Jobs</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
       
        <!-- Item -->
        <div class="item item1-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>magni deserunt dolorem harum quas!</h6>
                    <h4>Aliquam iusto harum <br>  ratione porro odio</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa cupiditate mollitia adipisci assumenda laborum eius quae quo excepturi, eveniet. Dicta nulla ea beatae consequuntur?</p>
                    <a href="about.html" class="filled-button">About Us</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item1-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>alias officia qui quae vitae natus!</h6>
                    <h4>Lorem ipsum dolor <br>sit amet, consectetur.</h4>
                    <p>Vivamus ut tellus mi. Nulla nec cursus elit, id vulputate mi. Sed nec cursus augue. Phasellus lacinia ac sapien vitae dapibus. Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</p>
                    <a href="contact.html" class="filled-button">Contact Us</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>




<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Featured <em>Job for You</em></h2>

                </div>
            </div>

            <div class="col-md-12">
                <div id="tfheader">
                    <form id="tfnewsearch" method="get" action="http://www.google.com">
                        <input type="text" class="tftextinput" name="q" size="21" maxlength="120" placeholder="Search Job">
                        <input type="text" class="tftextinput" name="q" size="21" maxlength="120" placeholder="Enter Job Location">

                        <input type="submit" value="search" class="tfbutton">

                    </form>
                    <div class="tfclear"></div>
                </div>
            </div>

            @foreach (var item in Model.AllJobs.OrderBy(a => a.JobName))
            {
                <div class="col-md-4">
                    <div class="service-item">
                        <a href="@Url.Action("Details", "Job", new {jobid =item.JobId})">
                            <img src="~/images/product-6-720x480.jpg" alt="" style="height:200px; width:200px;border-radius:70%;">
                            <div class="down-content">
                                <h4>@item.JobName</h4>
                                <div style="margin-bottom:10px;">
                                    <span>Type : @item.JobType</span>
                                </div>
                                <p>Req Skill : @item.JobSkill</p>

                                <a href="@Url.Action("Details", "Job", new {jobid =item.JobId})" class="filled-button">View Details</a>
                            </div>
                        </a>
                    </div>

                    <br>
                </div>
            }


        </div>
    </div>
</div>
